
body {
    font-family: 'Exo';
    background-color: #333344;
}

#page_content {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 10em)
}

@keyframes carousel-anim {
    0% {
      transform: translateX(0);
    }
    8% {
      transform: translateX(0%);
    }
    10% {
        transform: translateX(-100%);
      }
    18% {
      transform: translateX(-100%);
    }
    20% {
        transform: translateX(-200%);
    }
    28% {
        transform: translateX(-200%);
    }
    30% {
        transform: translateX(-300%);
    }
    38% {
        transform: translateX(-300%);
    }
    40% {
        transform: translateX(-400%);
    }
    48% {
      transform: translateX(-400%);
    }
    50% {
      transform: translateX(-500%);
    }
    58% {
      transform: translateX(-500%);
    }
    60% {
      transform: translateX(-600%);
    }
    68% {
        transform: translateX(-600%);
      }
    70% {
      transform: translateX(-700%);
    }
    78% {
        transform: translateX(-700%);
    }
    80% {
        transform: translateX(-800%);
    }
    88% {
        transform: translateX(-800%);
    }
    100% {
      transform: translateX(0);
    }
  }
